<app-header></app-header>
<main>
  <div class="titulo-bg">
    <div class="titulo container">
      <br>
      <h1 class="texto-grande cor-branco">Entre em contato</h1>
    </div>
  </div><br>
  <!--title-->
  <div class="contato container">
    <section class="contato-dados" aria-label="Endereço">
      <h2 class="texto-h2 cor-branco">Encontre a gente em</h2>
      <div class="contato-endereco cor-branco">
        <p>Rua Ali Perto, 27</p>
        <p>Marília, SP</p>
      </div>
      <address class="contato-meios cor-branco">
        <a href="mailto:contato@techtarget.com">contato@techtarget.com</a>
        <a href="tel:+551499999999">+55 14 9999-9999</a>
      </address>
      <br>
      <div class="contato-redes">
        <a href="www.instagram.com/techtarget">
          <img src="./assets/icons/icon-instagram-red.svg" alt="Instagram">
        </a>
        <a href="www.facebook/techtargetembreve">
          <img src="./assets/icons/icon-facebook-red.svg" alt="Facebook">
        </a>
      </div>
    </section>
    <!--CONTATO DADOS-->
    <!--SECTION FORM-->
    <section class="contato-form" aria-label="Formulário">
      <form class="form" >
        <div>
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" placeholder="Seu nome">
        </div>
        <div class="col-2">
          <label for="telefone">Telefone</label>
          <input type="text" id="telefone" name="telefone" placeholder="(14) 9999-9999">
        </div>
        <div class="col-2">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="contato@email.com">
        </div>
        <div class="col-2">
          <label for="mensagem">Mensagem</label>
          <textarea rows="5" id="mensagem" name="mensagem" placeholder="Dúvidas? Sugestões? Envie sua mensagem pra gente!"></textarea>
        </div>
        <button class="botao col-2" (click)="sendMessage()">Enviar Mensagem</button>
      </form>
    </section>
    <!--end!! SECTION FORM-->
  </div>
</main>

<app-footer></app-footer>