<div class="my-4">
    <h4>Visualize os gráficos das pesquisas implementados para melhor controle</h4>
    <span style="display: block;color: #aaa;">Clique no botão "Visualizar", será realizado uma demonstração de dashboar por pergunta</span>
</div>

<div class="h-divider">
    <div class="shadow"></div>
</div>

<accordion [isAnimated]="true">
  <accordion-group class="mb-3" heading="Formulário do produto teste">
    <div class="content-dash-grid">
      <div>
        1) Lorem ipsum dolor sit amet, consectetur adipiscing elit?
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/main/grafico', 2]">
        Visualizar
      </button>
    </div>
    <div class="content-dash-grid">
      <div>
        2) Donec enim felis, efficitur cursus blandit eget, blandit nec mauris?
      </div>
      <button type="button" class="btn btn-primary">
        Visualizar
      </button>
    </div>
    <div class="content-dash-grid">
      <div>
        3) Aliquam sollicitudin risus et sem posuere?
      </div>
      <button type="button" class="btn btn-primary">
        Visualizar
      </button>
    </div>
    <div class="content-dash-grid">
      <div>
        4) Cras condimentum tempor est at porta?
      </div>
      <button type="button" class="btn btn-primary">
        Visualizar
      </button>
    </div>
    <div class="content-dash-grid">
      <div>
        5) Aliquam cursus eros eros, in porta eros scelerisque et?
      </div>
      <button type="button" class="btn btn-primary">
        Visualizar
      </button>
    </div>
  </accordion-group>

  <accordion-group class="mb-3" heading="Pesquisa do produto Voltron">
    <div class="content-dash-grid">
      <div>
        1) Apenas um xdd, é sobre issso?
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/main/grafico', 2]">
        Visualizar
      </button>
    </div>
    <div class="content-dash-grid">
      <div>
        2) seila tlg, é sobre issso mesmo?
      </div>
      <button type="button" class="btn btn-primary">
        Visualizar
      </button>
    </div>
  </accordion-group>

  <accordion-group class="mb-3" heading="Pesquisa de satisfação">
    <div class="content-dash-grid">
      <div>
        1) Apenas um xdd, é sobre issso?
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/main/grafico', 2]">
        Visualizar
      </button>
    </div>
    <div class="content-dash-grid">
      <div>
        2) seila tlg, é sobre issso mesmo?
      </div>
      <button type="button" class="btn btn-primary">
        Visualizar
      </button>
    </div>
  </accordion-group>
</accordion>