

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  <title>(BETA) TechTarget</title>

  <link rel="icon" href="assets/TARGET.svg" type="image/gif" sizes="16x16">

  <link rel="preload" href="/css/style.css" as="style">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <!-- NAV -->
   <header class="header-bg">
    <div class="header container">
      <a href="index.html">
        <img src="./assets/LOGO_TECH_TARGET.svg" alt="TechTarget"></a>

      <nav aria-label="primaria">
        <ul class="header-menu cor-branco">
          <li><a href="#">Nossas Soluções</a></li>
          <li><a href="#">Contato</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- END!! NAV -->

  <main class="introducao-bg">
    <div class="introducao container">
      <div class="introducao-conteudo">

        <h1 class="h1-class">
          Seu negócio<br>
          na mira do<br>
          <span>seu público</span>
        </h1>
        <br>
        <a class="botao" href="./cadastrar.html">Cadastre-se</a>
      </div>

      <picture>
        <img src="/assets/TARGET.svg" width="311" height="310">
      </picture>
    </div>
  </main>
  <br><br>
  <!--O QUE FAZEMOS-->
  <div class="o-que-fazemos">
    <div class="o-que-fazemos container">

      <ul class="ul-oqf">
        <li class="li-oqf">Planeja<br>mento</li>
        <li class="li-oqf">Análise<br>de Dados</li>
        <li class="li-oqf">Oportu<br>nidades</li>
      </ul>

    </div>
  </div><br><br>

  <!-- VANTAGENS      -->
  <article class="vantagens-bg">
    <div class="vantagens container">
      <div class="vantagens-conteudo">
        <span class="texto-medio cor-cinza">Vantagens Exclusivas</span>
        <h2 class="texto-grande cor-branco">Tudo o que você precisa está aqui</h2>
        <p class="texto-medio cor-branco">Descubra coisas novas como consumidor, cresça a visibilidade da sua empresa com a Tech Target </p>
        <a class="link" href="./sobrenos.html">Saiba mais</a>
        <div class="vantagens-lista">
          <div>
            <img src="./assets/icons/icon-aproximacao.svg" alt="">
            <h3 class="texto-medio cor-branco">aproximação</h3>
            <p class="texto-medio cor-cinza">Com a TechTarget você pode se aproximar do seu cliente final.</p>
          </div>
          <div>
            <img src="./assets/icons/icon-target.svg" alt="">
            <h3 class="texto-medio cor-branco">facilidade</h3>
            <p class="texto-medio cor-cinza">Gerenciamos pesquisas e ações de promoção sobre um produto ou serviço.</p>
          </div>
        </div>
      </div>
      <div class="vantagens-imagem">
        <img src="./assets/vantagens.svg" alt="">
      </div>
    </div>
  </article>

  <!--PUBLIQUE O SEU CONTEUDO-->

  <article class="pub-bg">
    <div class="pub container">
      <div class="pub-imagem">
        <img src="./assets/publique.jpg">
      </div>
      <div class="pub-conteudo">
        <h2 class="texto-grande">Consiga oportunidades de<br> negócios e muito mais</h2>
        <p class="texto-medio cor-preto-claro">Faça pesquisas com diretamente com seu público-alvo,<br>publique todo seu conteúdo aqui na TechTarget</p>
        <a class="botao-saiba-mais" href="./cliente">Saiba Mais</a>
      </div>
    </div>
  </article>
  <br><br><br>
 <!-- RODAPÉ -->
 <footer class="footer-bg">
  <div class="footer container">
    <img src="./assets/LOGO_TECH_TARGET.svg" alt="Tech Target Logo">
    <div class="footer-contato">
      <h3 class="texto-h2 cor-branco">CONTATO</h3>
      <ul class="texto-medio cor-cinza">
        <li><a href="tel:+551499999999">+55 14 9999-9999</a></li>
        <li><a href="mailto:contato@techtarget.com">contato@techtarget.com</a></li>
        <li>Rua Ali Perto, 27 - Marília</li>
        <li>São Paulo - SP</li>
      </ul>
      <div class="footer-redes">
        <a href="www.instagram.com/techtarget">
          <img src="./assets/icon-instagram.svg" alt="Instagram">
        </a>
        <a href="www.facebook/techtargetembreve">
          <img src="./assets/icon-facebook.svg" alt="Facebook">
        </a>
      </div>
    </div>
    <div class="footer-infos">
      <h3 class="texto-h2 cor-branco">INFORMAÇÕES</h3>
      <nav>
        <ul class="texto-medio cor-cinza">
          <li><a href="./solucoes.html">Nossas Soluções</a></li>
          <li><a href="./contato.html">Contato</a></li>
          <li><a href="./termos.html">Termos e Condições</a></li>
          <li><a href="./politica.html">Política de Privacidade</a></li>
        </ul>
      </nav>
    </div>
    <p class="footer-copy texto-medio cor-cinza">TechTarget © Alguns direitos reservados.</p>
  </div>
</footer>
<!-- FIM RODAPÉ -->
