<div class="my-4">
  <h4>Feed</h4>
</div>
 <!-- PUBLICAR -->
 <div class="feed">
    <div class="feed__publish">
      <img class="feed__img" src="assets/img/user-icon.png">
      <input type="text" placeholder="Publique alguma coisa sobre seu negócio." autocomplete="off" spellcheck="false" aria-invalid="false" value="" class="feed__input">
        <button type="button" class="btn btn-color" routerLink="/main/grafico">
            Publicar
        </button>
     </div>
 <br>
      <div class="row">
        <div class="col-md-12 mb-5 d-flex justify-content-center">
          <div class="card">
            <div class="card-img">
              <img src="https://placeimg.com/540/250/tech" alt="" />
            </div>
            <div class="card-content">
              <span class="card-tag">TECNOLOGIA</span>
              <h2 class="card-title">
                How I Build Web Development Challenges Website
              </h2>
              <p class="card-desc">
                If you're looking for inspiration to build your own side
                project...
              </p>
              <div class="card-profile">
                <div class="card-profile-img">
                  <img
                    src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg"
                    alt=""
                  />
                </div>
                <div class="card-profile-content">
                  <h3>Vetri Suriya</h3>
                  <span>4h ago</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mb-5 d-flex justify-content-center">
            <div class="card">
              <div class="card-img">
                <img src="https://placeimg.com/540/250/any" alt="" />
              </div>
              <div class="card-content">
                <span class="card-tag">SAÚDE</span>
                <h2 class="card-title">
                    How I Build Web Development Challenges Website
                </h2>
                <p class="card-desc">
                  If you're looking for inspiration to build your own side
                  project...
                </p>
                <div class="card-profile">
                  <div class="card-profile-img">
                    <img
                      src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
