<div class="posts">
  <article *ngFor="let feed of publicacao">
    <header class="posts__user-id" >
      <img src="assets/img/user-icon.png" class="posts__user-id-img" />
      <div class="post__user-id-test">
        <span class="posts__user-id-title">{{ feed.post_title }}</span>
        <div>
          <small>{{ feed.user_owner.corporate_name }}</small>
        </div>
      </div>
    </header>

    <main class="posts__content">
      <p>
        {{ feed.post_description }}
      </p>
      <img src="{{ feed.post_picture }}" alt="" />
      <br />
      <div class="posts__reactions">
        <button class="posts__reactions-btn">
          <i class="bx bx-like" title="Curtir"> </i>
          Curtir
        </button>
        <button class="posts__reactions-btn">
          <i class="bx bx-comment" title="Curtir"> </i>
          Comentar
        </button>
        <button class="posts__reactions-btn">
          <i class="bx bx-share" title="Curtir"> </i>
          Compartilhar
        </button>
      </div>
    </main>
  </article>
</div>
<br />