<div class="posts">
  <article>
    <header class="posts__user-id">
      <img src="assets/img/user-icon.png" class="posts__user-id-img" />
      <div class="post__user-id-test">
        <span class="posts__user-id-title">Titulo do meu post</span>
        <div>
          <small>Yasmin Lopes</small>
        </div>
      </div>
    </header>

    <main class="posts__content">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <img src="https://placeimg.com/540/250/tech" alt="" />
      <br />
      <div class="posts__reactions">
        <button class="posts__reactions-btn">
          <i class="bx bx-like" title="Curtir"> </i>
          Curtir
        </button>
        <button class="posts__reactions-btn">
          <i class="bx bx-comment" title="Curtir"> </i>
          Comentar
        </button>
        <button class="posts__reactions-btn">
          <i class="bx bx-share" title="Curtir"> </i>
          Compartilhar
        </button>
      </div>
    </main>
  </article>
</div>
<br />
