<nav class="navbar">
    <div class="container {{classCustom.length === 0 ? 'nav-custom' : classCustom}}">
      <a class="navbar-brand" href="#">
        <img class="img-size" src="assets/LOGO_TECH_TARGET.svg" alt="">
      </a>
      <div *ngIf="router.url !== '/register-user' && router.url !== '/login'">Bem vindo(a), {{userName}}</div>
      <div>
        <button *ngIf="router.url === '/login'" routerLink="/register-user" type="btnlogin" class="btn-login">Cadastrar-se</button>
        <button *ngIf="router.url === '/register-user'" routerLink="/login" type="btnlogin" class="btn-login">Login</button>
        <button *ngIf="router.url !== '/register-user' && router.url !== '/login' " routerLink="/login" type="btnlogin" class="btn-login">Sair</button>
      </div>
    </div>
</nav>