.nav-custom{
    padding: 10px 80px;
}

.navbar-layout-main{
    padding: 10px 0;
}

.btn-login{
    width: 115px;
    height: 35px;
    background:orangered;
    border: none;
    border-radius:10px;
    color:#E5E5E5;
}