@import '/src/assets/styles/paletacores.scss';
@import '/src/assets/styles/componentes.scss';
@import '/src/assets/styles/tipografia.scss';

.nav-custom{
    padding: 10px 80px;
}

.navbar-layout-main{
    padding: 10px 0;
}

.btn-login{
    width: 115px;
    height: 35px;
    background:$cor-primaria-01;
    border: none;
    border-radius:10px;
    color:#E5E5E5;
}

.img-size{
    width: 150px;
}