<div class="banner">
    <div class="banner-info">
        <h4>Divulgue</h4>
        <h6>sua pesquisa</h6>
        <span>O melhor lugar de pesquisa de mercado</span>
        <button class="btn btn-light" routerLink="/main/publicar">Publicar</button>
    </div>
    <div class="banner-img">
        <img src="assets/icon.png" alt="">
    </div>
</div>

<div class="my-4">
    <h4>Minhas Pesquisas de Divulgadas</h4>
    <span style="display: block;color: #aaa;">faça perguntas claras e coerentes para obter maior taxa de sucesso de feedback</span>
</div>

<div class="h-divider">
    <div class="shadow"></div>
</div>

<div class="row my-5">
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/nttdata.jpg" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">NTT DATA</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de satisfação do cliente referente aos seus serviços de consultoria.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Editar</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/insta.webp" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">Instagram</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de pesquisa referente a sua usabilidade.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Editar</button>
                    </div>
            </div>
        </div>
    </div>
</div>