<div class="banner">
    <div class="banner__info">
        <h3>Divulgue aqui a sua pesquisa</h3>
        <p class="banner__text">Publique todo seu conteúdo<br>aqui para o seu público-alvo</p>
        <button class="btn btn-light" routerLink="/main/publicar">Publicar</button>
    </div>
    <!-- <div class="banner__img">
        <img src="assets/charts.svg" alt="">
    </div> -->
</div>

<div class="my-4">
    <h4>Minhas Pesquisas de Divulgadas</h4>
    <span style="display: block;color: #aaa;">Faça perguntas claras e coerentes para obter maior taxa de sucesso de feedback</span>
</div>

<div class="h-divider">
    <div class="shadow"></div>
</div>

<div class="row my-5">
    <div class="col-md-6 row" *ngFor="let form of forms">
        <div class="grid-card">
            <div>
                <img src="assets/img/Thumbnail.png" 
                class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">{{form.form_title}}</h5>
                    <small style="color: #aaa;">{{form.segment}}</small>
                    <p class="card-text">{{form.form_description}}</p>
                    
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login"  [routerLink]="['/main/publicar', form.id]">Editar</button>
                    </div>
            </div>
        </div>
    </div>
</div>