@import '/src/assets/styles/paletacores.scss';
@import '/src/assets/styles/componentes.scss';
@import '/src/assets/styles/tipografia.scss';

h4::before{
    content: "";
            display: inline-block;
            background-color: $cor-secundaria-01;
            height: 20px;
            width: 5px;
            margin-right: 8px;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $cor-secundaria-01;
    color: white;
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 5px;
    flex-wrap: wrap;

    &__info{
        button{
            margin-top: 20px;
            display: block;
        }
        &__img{
            padding-bottom: 50px;
        }
    }

    .banner-img{
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 150px;
        }
    }
}

.grid-card{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px 1fr;
    padding: 0;
    gap: 20px;
    row-gap: 50px;

    div > img{
        width: 200px;
        height: 200px;
    }
}

.btn-align{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .btn-login{
        width: 125px;
        height: 28px;
        font-size: 14px;
        background:$cor-primaria-01;
        border: none;
        border-radius:10px;
        color:#E5E5E5;
    }
}