@import '/src/assets/styles/paletacores.scss';
@import '/src/assets/styles/componentes.scss';
@import '/src/assets/styles/tipografia.scss';

h4::before{
    content: "";
            display: inline-block;
            background-color: $cor-secundaria-01;
            height: 20px;
            width: 5px;
            margin-right: 8px;
}

.grid-card{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px 1fr;
    align-items: center;
    padding: 0;
    gap: 20px;
    row-gap: 50px;

    div > img{
        width: 100%;
        border-radius: 10px;
        border: 0;
    }
}

.btn-align{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .btn-login{
        padding: 10px;
        width: 50%;
        font-size: 1rem;
        background: $cor-primaria-01;
        border: none;
        border-radius: 5px;
        color: $cor-branco;
    }
}

.btnColor{
    background-color: $cor-primaria-01;
    color: white;

    &:hover{
        transform: scale(1.1);
        background-color: $cor-primaria-01;
    }
}

.head__search-container {
    position: relative;
  
    .head__search-normal {
      .search {
        border: none;
        width: 100%;
        height: 2.375rem;
        padding-left: 2.5rem;
        padding-right: 1.25rem;
        text-align: left;
        border: 1px solid $cor-secundaria-01;
        box-shadow: none;
        border-radius: 5px;
        outline: 0;
      }
  
      .search-icon {
        position: absolute;
        font-size: 1.2rem;
        line-height: 2.375rem;
        left: 0.813rem;
        top: 0;
        color: $cor-secundaria-01;
      }
    }
  }