<div class="my-4">
    <h4>Pesquisas de mercado</h4>
    <span style="display: block;color: #aaa;">busque a pesquisa de mercado que mais sentido com seus ideias</span>

    <div class="input-group my-3">
        <input type="text" class="form-control">
        <button class="btn btnColor" type="button" id="button-addon2">Pesquisar</button>
    </div>

    <div class="h-divider">
        <div class="shadow"></div>
    </div>
</div>

<div class="row my-5">
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/nttdata.jpg" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">NTT DATA</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de satisfação do cliente referente aos seus serviços de consultoria.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Reponder</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/insta.webp" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">Instagram</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de pesquisa referente a sua usabilidade.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Reponder</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/nttdata.jpg" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">NTT DATA</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de satisfação do cliente referente aos seus serviços de consultoria.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Reponder</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/insta.webp" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">Instagram</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de pesquisa referente a sua usabilidade.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Reponder</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/nttdata.jpg" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">NTT DATA</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de satisfação do cliente referente aos seus serviços de consultoria.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Reponder</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/insta.webp" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">Instagram</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de pesquisa referente a sua usabilidade.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Reponder</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/nttdata.jpg" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">NTT DATA</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de satisfação do cliente referente aos seus serviços de consultoria.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Reponder</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 row">
        <div class="grid-card">
            <div>
                <img src="assets/insta.webp" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">Instagram</h5>
                    <small style="color: #aaa;">Tecnologia</small>
                    <p class="card-text">Formulário de pesquisa referente a sua usabilidade.</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login">Reponder</button>
                    </div>
            </div>
        </div>
    </div>
</div>