<div class="my-4">
    <h4>Pesquisas de mercado</h4>
    <span style="display: block;color: rgb(131, 131, 131)">Busque a pesquisa de mercado que mais sentido com seus ideias</span>
    <br>
    <!-- Barra de Pesquisa -->
    <div class="head__search-container">
        <div class="head__search-normal">
          <input
            [(ngModel)]="searchText"
            type="search"
            class="search"
            name=""
            id=""
            placeholder="O que você procura?"
          />
          <i class="bx bx-search search-icon"></i>
        </div>
      </div>

    <div class="h-divider">
        <div class="shadow"></div>
    </div>
</div>

<div class="row my-5">
    <div class="col-md-6 row" *ngFor="let form of forms | filter: searchText">
        <div class="grid-card">
            <div>
                <img src="assets/img/Thumbnail.png" class="img-thumbnail"alt="...">
            </div>
            <div>
                    <h5 class="card-title">{{form.form_title}}</h5>
                    <small style="color: #aaa;">{{form.segment}}</small>
                    <p class="card-text">{{form.form_description}}</p>
                    <div class="btn-align">
                        <button type="btnlogin" class="btn-login" [routerLink]="['/main/responder', form.id]">Responder</button>
                    </div>
            </div>
        </div>
    </div>
</div>