<app-header></app-header>
<main>
  <div class="titulo-bg">
    <div class="titulo container">
      <br>
      <p class="texto-pequeno cor-cinza">FAÇA MAIS COM SEU PÚBLICO</p>
      <h1 class="texto-grande cor-branco">Bem vindo<BR /> de volta!</h1>
    </div>
  </div>
  <br />
  <!--title-->
  <!--IMAGEM PRIMEIRO-->
  <div class="login container">
    <div class="login-imagem">
      <img src="assets/pictures/login-picture.jpg" />
    </div>
    <!--END IMAGEM-->
    <!--LOGIN DADOS-->
    <div class="login-form" >
      <form class="form" [formGroup]="loginForm">
        <h2 class="texto-pequeno  col-2">Faça Login</h2>

        <div class="col-2">
          <label class="form-label">E-mail</label>
          <input
            class="form-control"
            formControlName="user_email"
            type="text"
          />
        </div>

        <div class="col-2">
          <label class="form-label">Senha</label>
          <input
            class="form-control"
            formControlName="user_password"
            type="password"
            (keyup.enter)="login()"
          />
        </div>
        <button (click)="login()" class="botao col-2">Login</button>
        <a href="">Esqueceu a senha?</a>
      </form>
      <br />
      <h2 class="texto-pequeno col-2">Cadastrar</h2>
      <br />
      <button class="botao-cadastro"  routerLink="/register-user">Cadastro</button>
    </div>
  </div>
</main>
<app-footer></app-footer>
