@import '/src/assets/styles/paletacores.scss';
@import '/src/assets/styles/componentes.scss';
@import '/src/assets/styles/tipografia.scss';
@import '/src/assets/styles/formularios.scss';


a{
  list-style: none;
  text-decoration: none;
  color: $cor-secundaria-01;
}
*{    
  font-family: 'Sora', sans-serif;
 }
 main{
  background: $cor-primaria-03;
 }

.login {
    display: grid;
    grid-template-columns: 5fr 7fr;
  }
  
  .login-target,
  .login-form {
    padding: 60px;
    box-shadow: 0 1px 2px $box-shadow;
  }
  
  .login-target {
    border-radius: 5px 0 0 5px;
    background: $cor-branco;
  }
  
  .login-form {
    border-radius: 0 5px 5px 0;
    background: $cor-branco
  }
  
  .login h2 {
    text-transform: uppercase;
    font-size: 0.8rem;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  
  .login h2::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    background-color: $cor-secundaria-01;
    position: absolute;
    left: -12px;
  }
  .login img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .login a:hover {
    color: $cor-primaria-01;
  }
  
  .botao-cadastro {
    padding: 16px 32px;
    background: $cor-secundaria-01;
    border-radius: 4px;
    box-shadow: 0 1px 2px $box-shadow;
    text-transform: uppercase;
    font-weight: 700;
    color: $cor-branco;
    font-size: 1rem;
    line-height: 1.33;
    border: none;
    cursor: pointer;
  }
  .botao-cadastro:hover {
    background: $cor-primaria-03;
    color: $cor-cinza;
  }
  
  @media (max-width: 800px) {
    .login {
      grid-template-columns: 1fr;
    }
    .login-target,
    .login-form {
      padding: 20px;
    }
    .login-target {
      border-radius: 5px 5px 0 0;
    }
    .login-form {
      border-radius: 0 0 5px 5px;
    }
    .login-target h2 {
      margin-bottom: 32px;
    }
    .login-imagem {
      display: none;
    }
  }