<app-navbar></app-navbar>

<div class="container">
    <div class="login">
        <div class="login-content">
            <div class="login-painel">
                <span class="login-text">
                    Bem vindo
                </span>
                <span class="login-text">
                    de volta<strong style="color: black">!</strong>
                </span>
                
            </div>
        
            <form class="form row" [formGroup]="loginForm">
                <div class="col-md-12 mb-3">
                    <label class="form-label">E-mail:</label>
                    <input class="form-control" formControlName="user_email" type="text">
                </div>
                <div class="col-md-12">
                    <label class="form-label">Senha:</label>
                    <input class="form-control" formControlName="user_password" type="password" (keyup.enter)="login()">
                </div>
            </form>

            <div class="login-footer">
                <div class="footer-1" routerLink="/register-user">
                    <span id="cadastrar">Cadastrar-se</span> 
                </div>

                <div class="footer-2">
                    <div class="btn-align">
                        <button (click)="login()" type="button" class="btn-login">Login</button>
                    </div>
                    <span id="esqueci">Esqueci a senha</span>
                </div>
            </div>

        </div>
        <div class="login-content-img">
            <img class="img-size" src="assets/icon.png" alt="">
        </div>
    </div>
    
</div>