<footer class="footer-bg">
  <div class="footer container">
    <img src="./assets/tech_target_logo_v_white.svg" alt="Tech Target Logo em sua versão Branca">
    <div class="footer-contato">
      <h4 class="cor-branco py-3">CONTATO</h4>
      <ul class="cor-cinza">
        <li><a href="tel:+551499999999">+55 14 9999-9999</a></li>
        <li><a href="mailto:contato@techtarget.com">contato@techtarget.com</a></li>
        <li>Rua Ali Perto, 27 - Marília</li>
        <li>São Paulo - SP</li>
      </ul>
      <div class="footer-redes">
        <a href="www.instagram.com/techtarget">
          <img src="./assets/icons/icon-instagram.svg" alt="Instagram">
        </a>
        <a href="www.facebook/techtargetembreve">
          <img src="./assets/icons/icon-facebook.svg" alt="Facebook">
        </a>
      </div>
    </div>
    <div class="footer-infos">
      <h4 class="cor-branco py-3">INFORMAÇÕES</h4>
      <nav>
        <ul class="cor-cinza">
          <li><a routerLink="">Nossas Soluções</a></li>
          <li><a routerLink="/contato">Contato</a></li>
          <li><a routerLink="/">Termos e Condições</a></li>
          <li><a routerLink="/">Política de Privacidade</a></li>
        </ul>
      </nav>
    </div>
    <p class="footer-copy cor-cinza">TechTarget © Alguns direitos reservados.</p>
  </div>
</footer>