<app-carousel-main></app-carousel-main>

<div class="py-5">
    <h3>Em destaque</h3>
    <small style="color: #aaa;">responda pesquisas mais populares</small>

    <div class="py-5">
        <div class="row g-0">
            <div class="col-md-6 row" *ngFor="let destaque of destaques">
                <div class="grid-card">
                    <div>
                        <img src="assets/question.jpg" class="img-thumbnail"alt="...">
                    </div>
                    <div>
                            <h5 class="card-title">{{destaque.form_title}}</h5>
                            <small style="color: #aaa;">{{destaque.segment}}</small>
                            <p class="card-text">{{destaque.form_description}}</p>
                            <div class="btn-align">
                                <button type="btnlogin" class="btn-login" [routerLink]="['/main/responder', destaque.form_id]">Responder</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
