<app-carousel-main></app-carousel-main>

<div class="py-5">
    <h3>Em destaque</h3>
    <small style="color: #aaa;">responda pesquisas mais populares</small>

    <div class="py-5">
        <div class="row g-0">
            <div class="col-md-6 row">
                <div class="grid-card">
                    <div>
                        <img src="assets/marilan.png" class="img-thumbnail"alt="...">
                    </div>
                    <div>
                            <h5 class="card-title">Marilan</h5>
                            <small style="color: #aaa;">Alimentos</small>
                            <p class="card-text">Formulário de satisfação do cliente referente ao seus novos produtos.</p>
                            <div class="btn-align">
                                <button type="btnlogin" class="btn-login">Responder</button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="grid-card">
                    <div>
                        <img src="assets/dori.webp" class="img-thumbnail"alt="...">
                    </div>
                    <div>
                            <h5 class="card-title">Dori</h5>
                            <small style="color: #aaa;">Alimentos</small>
                            <p class="card-text">Formulário de satisfação do cliente referente ao seus novos produtos.</p>
                            <div class="btn-align">
                                <button type="btnlogin" class="btn-login">Responder</button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="grid-card">
                    <div>
                        <img src="assets/nttdata.jpg" class="img-thumbnail"alt="...">
                    </div>
                    <div>
                            <h5 class="card-title">NTT DATA</h5>
                            <small style="color: #aaa;">Tecnologia</small>
                            <p class="card-text">Formulário de satisfação do cliente referente aos seus serviços de consultoria.</p>
                            <div class="btn-align">
                                <button type="btnlogin" class="btn-login">Responder</button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="grid-card">
                    <div>
                        <img src="assets/insta.webp" class="img-thumbnail"alt="...">
                    </div>
                    <div>
                            <h5 class="card-title">Instagram</h5>
                            <small style="color: #aaa;">Tecnologia</small>
                            <p class="card-text">Formulário de pesquisa referente a sua usabilidade.</p>
                            <div class="btn-align">
                                <button type="btnlogin" class="btn-login">Responder</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
