// .carousel-control-next-icon, .carousel-control-prev-icon {
//     background-color: #212529;
// }

// 
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }