@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';

@import './assets/styles/componentes.scss';
@import './assets/styles/paletacores.scss';
@import './assets/styles/tipografia.scss';

@import "~ngx-toastr/toastr";

@import "~@ng-select/ng-select/themes/default.theme.css";

*{
  font-family: 'Sora', sans-serif;
}
body {
    margin: 0px;
  }
  
  h1,
  h2,
  h3,
  h4,
  ul,
  p {
    margin: 0px;
  }
  
span{
  color: $cor-secundaria-01;
}
  ul {
    padding: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    max-width: 100%;
    display: block;
  }

.disabled-button{
    opacity: 0.7;
    cursor: not-allowed;
}

.add-cursor-pointer{
    cursor: pointer !important;
}

.h-divider {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}

.h-divider .shadow {
  border-radius: 50%;
  overflow: hidden;
  height: 4px;
  background-color: $cor-primaria-01;
  box-shadow: 0 0.1rem 1rem $cor-primaria-01 !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
