$cor-primaria-01:  #1960CB;
$cor-primaria-02: #2F6FD0;
$cor-primaria-03:  #457ED3;
$cor-primaria-04: #5B8DD8;
$cor-primaria-05:  #719CDC;
$cor-primaria-06: #86AADF;

$cor-secundaria-01: #0E3775;
$cor-secundaria-02: #061326;

$neutro-n10: #111111;
$neutro-n20: #ebebeb;

$cor-branco: #fff;
$cor-cinza: #f3f3f3;
$cor-botao: #0E3775;
$box-shadow: rgba(0, 0, 0, 0.1);