@import './paletacores.scss';
.texto-grande {
  font-size: 4rem;
  line-height: 1.125;
  font-weight: 700;
}

.texto-medio {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

.texto-pequeno {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

.texto-h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
}

.cor-branco {
  color: $cor-branco;
}

.cor-cinza {
  color: $cor-cinza;
}

.cor-secundaria-01 {
  color: $cor-secundaria-01;
}

.cor-primaria-01 {
  color: $cor-primaria-01;
}

.cor-primaria-03 {
  color: $cor-primaria-03;
}