<div class="my-4">
  <h4>Monte agora sua Pesquisa de Mercado</h4>
  <span style="display: block; color: rgb(131, 131, 131)"
    >Descubra o que seus consumidores/clientes pensam sobre sua
    empresa/produto.</span
  >
</div>

<form class="form row" [formGroup]="publicarForm">
  <div class="col-md-12 mb-3">
    <label class="form-label">Título</label>
    <input
      class="form-control"
      formControlName="title"
      type="text"
      placeholder="Ex: Pesquisa sobre nosso novo produto"
    />
    <app-form-erro
      [formControl]="$any(publicarForm).get('title')"
      ngDefaultControl
    ></app-form-erro>
  </div>

  <div class="col-md-12 mb-3">
    <label class="form-label">Descrição</label>
    <textarea
      class="form-control"
      formControlName="description"
      id="descricao"
      placeholder="Informe a descrição do formulário"
      rows="3"
    ></textarea>
    <app-form-erro [formControl]="$any(publicarForm).get('description')" ngDefaultControl></app-form-erro>
  </div>

  <ng-container formArrayName="questions">
    <ng-container
      *ngFor="let questionsForm of questions.controls; let i = index"
    >
      <div class="col-md-12 mb-3">
        <div class="lesson-form-row" [formGroupName]="i">
          <div class="row">
            <div class="col-md-1">
              <label class="form-label">Ordem</label>
              <input
                type="number"
                class="form-control"
                formControlName="question_order"
              />
            </div>
            <div class="col-md-2">
              <label class="form-label">Tipo</label>
              <ng-select
                [items]="TIPOS"
                bindLabel="descricao"
                bindValue="id"
                formControlName="question_type_id"
              >
              </ng-select>
            </div>
            <div class="col-md-9">
              <label class="form-label">Pergunta</label>
              <div class="combo-pergunta">
                <div class="pergunta-size">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="question_title"
                  />
                </div>
                <div class="acoes-custom-size">
                  <div class="acoes-custom-icon">
                    <i class="bx bx-trash bx-border"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="d-flex justify-content-center mb-3">
    <button class="btn-login" type="button" (click)="addQuestion()">
      Adicionar nova pergunta
    </button>
  </div>

  <div class="d-flex gap-3 mb-5">
    <button class="btn btn-success" type="submit" (click)="createForm()">
      Salvar
    </button>
    <button class="btn btn-danger" type="button" routerLink="/main/divulgue">
      Cancelar
    </button>
  </div>
</form>
